/* I tried to make it easier to grade, so I marked the optional elements OPTIONAL ELEMENTS with code and explained them, but wasn't sure how to label the required tasks so those you can just see on the webpage. Thank you! */

/* Setting up CSS Variables. I use these throughout the styles.css file. I couldn't figure out how to implement them in tailwind. */
:root {
  --font-family-header: 'Capriola', sans-serif;
  --main-font-color: black;
  --card-bg-color: white;
  --button-color: #FF9902;
  --main-bg-color: #F9F9F9;
  --box-shadow-light: black 0px 0px 4px 0px;
  --main-box-shadow-light: #FF9902 0px 0px 4px 0px;
  --transition-property: transform 0.3s ease-in-out;
  --transform-scale: scale(1.1);
  --transform-scale-2: scale(1.05);
  --med-rounded-corner: 1rem;
  --small-rounded-corner: .5rem;
  --large-rounded-corner: 2rem;
}

/* Animations */
@keyframes shopping-bounce {
  0% {
    transform: translateY(0);
    scale: 1;
  }
  33% {
    transform: translateY(-10px);
  }
  66% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes logo-wave {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(10deg);
  }
  66% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lightPulse {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.1;
  }
  100% {
    scale: 1;
  }
}

@keyframes scaleRotate {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
    rotate: 10deg;
  }
}

@keyframes scaleRotateReverse {
  0% {
    transform: scale(1.1);
    rotate: 10deg;
  }
  100% {
    transform: scale(1);
  }
}

/* Setting up html and body elements, so that I can format easier. */
/* OPTIONAL ELEMENT - SMOOTH SCROLL: Smooth scrolling so when you click to go back to the top, it is smooth instead of immediate */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  overflow-x: hidden;
}


/* Formatting all h2s */
h2 {
  font-size: 1.5rem;
  font-weight: 150;
  font-family: var(--font-family-header);
}

/* Formatting all h1s */
h1 {
  font-family: var(--font-family-header);
  font-weight: bold;
}

/* Formatting all ps */
p {
  font-size: 1rem;
  text-align: left;
  font-family: var(--font-family-header);
}

/* Formatting all h4s */
h4 {
  font-size: 1rem;
  font-weight: 500;
  font-family: var(--font-family);
}


/* Asked ChatGPT to help me with some CSS code that would allow the image to zoom in a bit when the user hovers over the image. I am applying this code to all images in the page to allow for more user interactivity. */
/* OPTIONAL ELEMENT - OBJECT-FIT: Used this four other times in my code. Not sure how many times you wanted it implemented */
img {
  object-fit: cover;
  transition: var(--transition-property);
}

img:hover {
  transform: var(--transform-scale);
}

/* Header container styles */
.header-container {
  background: rgb(249,87,176);
  background: linear-gradient(166deg, rgba(249,87,176,1) 6%, rgba(235,125,13,1) 89%);
}

/* Adding font-family in CSS because I couldn't figure out how to use variables in tailwind. Adding hover property on the h2 navigation tabs */
/* OPTIONAL ELEMENT - STICKY: I used sticky here, I thought it was nice that it would kinda tuck under the header divider a bit and then stop sticking. Makes it somewhat fun */
.header {
  font-family: var(--font-family-header);
  position: sticky;

  h2:hover {
    transform: var(--transform-scale);
  }
}

/* ANIMATION 1: Setting up animation on haribo logo so when you hover it pulses lightly. I thought it was a nice aesthetic touch */
.haribo-logo {
  transition: transform 1.1s ease-in-out;
  max-width: 100%;
}

.haribo-logo:hover {
  animation: lightPulse 1.1s ease-in-out infinite;
}

/* Formatting the links in the header */
/* OPTIONAL ELEMENT - GAP: used this in my code 28 other times. Not sure how many times you wanted it in my code, but it allows for good spacing of elements */
#myLinks {
  background-color: var(--card-bg-color);
  border-radius: var(--med-rounded-corner);
  box-shadow: var(--box-shadow-light);
  padding-left: 1rem;
  padding-right: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  padding: .5rem;
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;

  h2 {
    font-size: 1.5rem;
  }
}

/* Asked Copilot how to format these a tags because I forgot how to simply remove decorations of blue color and underline. This is what it gave me. */
.nav-bar a {
  text-decoration: none;
  color: inherit;
}

.nav-bar a:hover {
  color: inherit;
}

.icon {
  position: relative;
}

/* ANIMATION 2: Setting up animation for shopping cart to bounce when you hover on it. I think I've seen this on other websites before */
/* Container for shopping-cart svg from font awesome */
.shopping-cart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
}

.shopping-cart-container:hover {
  animation: shopping-bounce 0.5s ease-in-out forwards;
}

.shopping-cart-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 2rem;
}

/* Formatting shopping-cart svg */
.shopping-cart-icon i {
  color: var(--main-font-color);
  font-size: 1.5rem;
}

/* ANIMATION 3: Setting up Animation so the Haribo bear waves from the top of the page infinitely. Kinda fun */
.mascot-icon {
  min-width: 100%;

  img {
    width: 40px;
    height: auto;
    animation: logo-wave 4s ease-in-out infinite;
  }
}

/* Custom shape divider for the top of the page */
.custom-shape-divider-bottom-1742328424 {
  position: relative;
  display: flex;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1742328424 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 51px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1742328424 .shape-fill {
  fill: var(--main-bg-color);
}

.custom-shape-divider-top-1742326942 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1742326942 svg {
  position: relative;
  display: block;
  width: calc(144% + 1.3px);
  height: 66px;
}

.custom-shape-divider-top-1742326942 .shape-fill {
  fill: #FFFFFF;
}

/* Main Product Page Styling */
main {
  color: var(--main-font-color);
}

/* Formatting card-container */
/* GRID USED HERE */
/* OPTIONAL ELEMENT - AUTO-FIT: Also used Auto-fit columns elsewhere in my layout because I enjoy the responsivity it gives me. */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(454px, 1fr));
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
  justify-items: center;
  margin-bottom: 3rem;
}

/* Product image */
.product-img-card {
  background-color: var(--button-color);
  border-radius: var(--small-rounded-corner);
  padding: 2rem;
  box-shadow: var(--button-color) 0px 0px 10px;
  display: grid;
  
  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  img:hover {
    transform: var(--transform-scale-2);
  }
}

/* Grid container for product info */
.product-info-container {
  display: grid;
  align-self: center;
  justify-self: center;
  grid-template-rows: repeat(6, minmax(100px, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: repeat(3, 1fr);
}

/* Product info card */
.product-info-card {
  grid-area: 1 / 1 / 2 / 7;
  display: grid; 
  align-items: last baseline;
}

/* Formatting price container */
.price-container {
  background-color: var(--button-color);
  border: 1px solid var(--button-color);
  border-radius: var(--large-rounded-corner);
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  width: fit-content;
  height: 3.5rem;
  padding: 1.85rem;
  margin-left: 1rem;
  gap: 5rem;
  color: var(--card-bg-color);
  box-shadow: var(--main-box-shadow-light);
  grid-area: 2 / 1 / 3 / 4;
}

/* Formatting price card in description. Also formatting the button to have a box-shadow when hovered on. */
.price-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  font-family: var(--font-family-header);
  font-size: 1.5rem;
  color: white;
}

.star-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.star-container i {
  color: white;
  font-size: 1.2rem;
}

/* ANIMATION 4: Setting up add to cart icon so it has a light pulse, like the logo, when you hover. Nice and helps customers who want to click on it commit */
/* Formatting button */
.cart-button {
  grid-area: 2 / 4 / 3 / 7;
  background-color: var(--button-color);
  border: 1px solid var(--button-color);
  border-radius: var(--large-rounded-corner);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  justify-self: center;
  align-self: center;
  gap: .5rem;
  height: 4rem;
  padding: 1rem;
  margin-right: 1rem;
  color: var(--card-bg-color);
  cursor: pointer;
  box-shadow: var(--main-box-shadow-light);
}

.cart-button:hover {
  cursor: pointer;
  animation: pulse 1s infinite;
}

/* Formatting shopping-cart svg again for the add to cart button */
.add-to-cart-icon i {
  color: var(--card-bg-color);
  font-size: 1.5rem;
}

.quantity-selector {
  grid-area: 3 / 1 / 4 / 7;
  margin-left: 1rem;
  margin-right: 1rem;
}

/* Formatting the quantity cards and images */
#pack-of-3, #pack-of-6, #pack-of-24 {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  padding: 1rem;
  cursor: pointer;
  flex-wrap: nowrap;
  background-color: var(--button-color);
  border-radius: var(--med-rounded-corner);
  box-shadow: var(--main-box-shadow-light);

  p {
    color: white;
    text-align: center;
  }

  img {
    object-fit: contain;
    width: auto;
    height: 100px;
  }

  p {
    font-size: .75rem;
    font-weight: 500;
    white-space: nowrap;
  }
}

/* Formatting quantity cards on hover to give some interactivity */
#pack-of-3:hover, #pack-of-6:hover, #pack-of-24:hover {
  box-shadow: black 0px 0px 5px;
  color: var(--main-font-color);
}

/* END GRID CONTAINER */

/* Formatting related products section font */
.related-products-section {
  font-family: var(--font-family-header);
}

/* Formatting related products section to have good layout */
.related-products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  padding: 1rem;
  margin: 0 auto 4rem auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
}

/* ANIMATION 5: They have animations so they rotate and scale when you hover over them. Like the haribo website*/
/* Formatting each card */
.related-products-card {
  display: grid;
  background-color: var(--button-color);
  border-radius: var(--med-rounded-corner);
  box-shadow: var(--main-box-shadow-light);
  padding: 1rem;
  margin: 0 auto;
  width: fit-content;

  img {
    height: 210px;
    width: auto;
    animation: scaleRotateReverse .3s ease-in-out forwards;
  }

  img:hover {
    animation: scaleRotate .3s ease-in-out forwards;
    cursor: pointer;
  }
}

/* Formatting limited edition container and font*/
.limited-edition-product {
  font-family: var(--font-family-header);
}

.limited-edition-product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 1rem;
  margin: 0 auto 4rem auto;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 2rem;
}


/* Formatting limited edition cards like related products cards, with same animations */
.limited-edition-product-card {
  background-color: var(--button-color);
  border-radius: var(--med-rounded-corner);
  box-shadow: var(--main-box-shadow-light);
  display: grid;
  padding: 1rem;
  margin: 0 auto;
  width: fit-content;

  img {
    height: 210px;
    width: auto;
    animation: scaleRotateReverse .3s ease-in-out forwards;
  }

  img:hover {
    animation: scaleRotate .3s ease-in-out forwards;
    cursor: pointer;
  }
}

/* ANIMATION 6: light pulse on the button in the contact form, like the logo and the add to cart button. */
/* Formatting contact form */
.contact-form-container {
  font-family: var(--font-family);
  background-color: var(--card-bg-color);

  button {
    background-color: var(--button-color);
    border: 1px solid var(--button-color);
    font-family: var(--font-family-header);
    font-size: .3rem;
    color: white;
    border-radius: var(--large-rounded-corner);
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: center;
    margin: 1rem;
    gap: .5rem;
    padding: .5rem;
    cursor: pointer;
    box-shadow: black 0px 0px 2px;
  }

  button:hover {
    box-shadow: black 0px 0px 5px;
    animation: pulse 1s infinite;
  }
}

.full-name {
  flex-wrap: nowrap;
}

/* Formatting scroll to top svg */
.scroll-to-top i {
  font-size: 2.3rem;
  color: var(--main-font-color);
  cursor: pointer;
}

.scroll-to-top i:hover {
  transform: var(--transform-scale);
}

.footer-container {
  background: rgb(249,87,176);
  background: linear-gradient(166deg, rgba(249,87,176,1) 6%, rgba(235,125,13,1) 89%);
}

/* Custom divider for bottom of page */
.custom-shape-divider-top-1742328585 {
  position: relative;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1742328585 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 51px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1742328585 .shape-fill {
  fill: #FFFFFF;
}

/* formatting footer logo */
.footer-logo img{
  width: 100px;
  height: auto;
}

/* Formatting footer */
.footer-content {
  font-family: var(--font-family);
}

/* Responsive design elements */
/* Small phones */
@media (max-width: 454px) {
  .header {
    display: grid;
    align-content: center;
    justify-content: center;
  }

  .logo {
    img {
      max-width: 100%;
    }
  }

  .nav-bar {
    gap: 4rem;
  }

  .card-container {
    padding: 0;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-bottom: 0;
  }

  .product-img-card {
    padding: .5rem;
    border-radius: 0;
  }

  .product-info-container {
    padding: 0;
    margin-right: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
  }

  .price-container {
    margin: 0;
    gap: 1rem;
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .cart-button {
    margin-right: 2rem;
    margin-left: 2rem;
    align-self: center;
    justify-self: center;
  }

  .quantity-selector {
    margin-right: 2rem;
    margin-left: 3rem;
  }

  #pack-of-3, #pack-of-6, #pack-of-24 {
    display: grid;
    padding: .5rem;
    text-align: center;

    img {
      height: 50px;
    }
  }

  #pack-of-3 {
    display: grid;
    grid-template-columns: 1fr;
    gap: .5rem;
    font-size: .5rem;
    justify-self: center;
  }

  #pack-of-6 {
    display: grid;
    grid-template-columns: 1fr;
    gap: .5rem;
    justify-self: center;
    p {
      text-align: center;
    }
  }

  #pack-of-24 {
    display: grid;
    grid-template-columns: 1fr;
    gap: .5rem;
    font-size: .5rem;
    justify-self: center;
  }

  .related-products-section {
    padding-top: 4rem;
    margin-top: 2rem;

    h2 {
      font-size: 1.25rem;
      text-align: center;
    }
  }

  .related-products-header {
    padding-bottom: 1rem;
  }

  .related-products-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 0;
    padding-top: 0;
  }

  .related-products-card {
    display: flex;
    width: fit-content;
    height: 120px;
    align-self: center;
    justify-self: center;
    padding: .5rem;

    img {
      object-fit: contain;
      width: 75px;
      align-self: center;
    }
  }

  .limited-edition-header {
    padding-bottom: 1rem;
  }

  .limited-edition-product-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }

  .limited-edition-product-card {
    display: flex;
    width: fit-content;
    height: 120px;
    align-self: center;
    justify-self: center;
    padding: .5rem;

    img {
      object-fit: contain;
      width: 75px;
      align-self: center;
      padding: 0;
    }
  }

  .contact-form-container {
    margin-top: 2rem;

    button {
      font-size: .5rem;
    }
  }

  .contact-form-container {
    gap: .5rem;
  }

  .contact-form-subcontainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }

  .animated-svg {
    padding: 0;
  }
}

/* Small adjustments between sizes */
@media (max-width: 619px) {
  .header {
    display: grid;
    align-content: center;
    justify-content: center;
  }

  .logo {
    img {
      max-width: 100%;
    }
  }

  .nav-bar {
    gap: 4rem;
  }

  .card-container {
    padding: 0;
  }

  .product-info-container {
    padding: 0;
    margin-right: 1rem;
  }

  .product-img-card {
    padding: 1rem;
  }

  .price-container {
    margin: 0;
    gap: 1rem;
    margin-left: 1rem;
  }

  .cart-button {
    margin-right: 1rem;
  }

  .related-products-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    padding-bottom: 0;
    margin-bottom: 0;

    img {
      height: 100px;
    }
  }

  .limited-edition-product-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    
    img {
      height: 100px;
    }
  }

  .limited-edition-product-container {
    img {
      height: 100px;
    }
  }

  .contact-form-container {
    margin-top: 2rem;

    button {
      font-size: .5rem;
    }
  }

  .contact-form-container {
    gap: 1rem;
  }

  .contact-form-subcontainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }

  .animated-svg {
    padding: 0;
  }
}

/* Adjusting contact form so it looks good at this size screen */
@media (max-width: 674px) {
  .contact-form-subcontainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
}

/* Phones */
@media (max-width: 768px) {
  .haribo-logo {
    max-width: 100%;
  }

  .related-products-container img {
    height: 150px;
  }

  .limited-edition-product-container img {
    height: 150px;
  }

  .limited-edition-product-container {
    img {
      height: 150px;
    }
  }

  .contact-form-container {
    button {
      font-size: .75rem;
    }
  }
}

/* Adjusting some small padding that is strange at this screen size */
@media (max-width: 927px) {
  .card-container {
    padding-bottom: 0;
  }
}

/* Tablets */
@media (max-width: 1065px) {
  /* Style the navigation menu */
  .nav-bar {
    overflow: hidden;
    position: relative;
  }

  /* Hide the links inside the navigation menu (except for logo/home) */
  .nav-bar #myLinks {
    display: none;
    color: black;
    h2 {
      font-size: 1.25rem;
    }
  }

  /* Style navigation menu links */
  .nav-bar a {
    text-decoration: none;
    font-size: 22px;
    display: flex;
  }

  /* Style the hamburger menu */
  .nav-bar a.icon {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: var(--med-rounded-corner);
  }

  .product-info-container {
    justify-content: center;
    padding-top: 2rem;
  }

  .related-products-section {
    padding-top: 6rem;
  }

  .related-products-container img {
    height: 180px;
  }

  .limited-edition-product-container img {
    height: 180px;
  }

  .limited-edition-product-container {
    img {
      height: 180px;
    }
  }

  .contact-form-container {
    button {
      font-size: .88rem;
    }
  }
}

/* Small Laptops */
@media (min-width: 1066px) {
  .icon {
    display: none;
  }

  .card-container {
    column-gap: 1rem;
  }

  .related-products-container img {
    height: 200px;
  }

  .limited-edition-product-container img {
    height: 200px;
  }

  .limited-edition-product-container {
    img {
      height: 200px;
    }
  }

  .contact-form-container {
    button {
      font-size: 1rem;
    }
  }
}

/* Desktops */
@media (min-width: 1281px) {
  .icon {
    display: none;
  }

  .related-products-container img {
    height: 210px;
  }

  .limited-edition-product-container img {
    height: 210px;
  }

  .limited-edition-product-container {
    img {
      height: 210px;
    }
  }

  .contact-form-container {
    button {
      font-size: 1.25rem;
    }
  }
}